solutions/LetsExercise/Workflows/RecordAddemptyrecordsforpreviousday-D441C709-7BDF-EE11-904C-000D3ABB432B.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pg_sharedcommondataserviceforapps_9ee29"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "pg_sharedcommondataserviceforapps_a3e61"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "startTime": "2024-03-12T02:00:00Z"
          },
          "metadata": {
            "operationMetadataId": "ad6da310-14dc-4b20-8f57-413ce62633cf"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "List_rows": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7978e1d5-f2a8-4fe6-9ffd-a5a750574c7f"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps_1",
              "operationId": "ListRecords",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "pg_exerciserecords",
              "$select": "pg_date,pg_exerciserecordid",
              "$filter": "@variables('queryExpression')"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition": {
          "actions": {},
          "runAfter": {
            "List_rows": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Add_a_new_row": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "b088bdde-f404-4201-bf36-48e13286e5d9"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_commondataserviceforapps",
                    "operationId": "CreateRecord",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                  },
                  "parameters": {
                    "entityName": "pg_exerciserecords",
                    "item/pg_date": "@addDays(utcNow(),-1)",
                    "item/pg_exercise": 1,
                    "item/pg_scorenumber": 0
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "greater": [
              "@length(outputs('List_rows')?['body/value'])",
              0
            ]
          },
          "metadata": {
            "operationMetadataId": "3b7f9629-2a2f-47b8-a8c0-a527535d6ad0"
          },
          "type": "If"
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "15e934c9-1d2c-41ed-996c-df234af8045e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "queryExpression",
                "type": "string",
                "value": "@{concat('Microsoft.Dynamics.CRM.On(PropertyName=''pg_date'',PropertyValue=''', formatDateTime(addDays(utcNow(),-1), 'yyyy-MM-dd'), ''')')}"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}